<VirtualHost *:80>
    ServerName thruway-test.localhost
    DocumentRoot /path/to/project

    ProxyPass /ws2/ ws://thruway-test.localhost:9090

    <Directory /path/to/project>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
